{% extends "myapp/template.html" %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row mt-4">
        <h1>Your Cart</h1>
    </div>
    <div class="container">
        {% if mycart %}
            <br><hr>
            <div class="row">
                <div class="col-sm-3 d-none d-sm-block"><strong>Image</strong></div>
                <div class="col-3 col-sm-3"><strong>Item</strong></div>
                <div class="col-3 col-sm-2"><strong>Cart</strong></div>
                <div class="col-3 col-sm-2"><strong>Quantity</strong></div>
                <div class="col-3 col-sm-2"><strong>Price</strong></div>
            </div><br><hr>
            {% for item in mycart %}
                <div class="row">
                    <div class="col-sm-3 d-none d-sm-block"><img src="{{ item.cart_food.food_image_1.url }}" height="100px"></div>
                    <div class="col-3 col-sm-3">{{ item.cart_food }}</div>
                    <div class="col-3 col-sm-2">
                        <form action="#" class="product_data">
                            {% csrf_token %}
                            <input type="hidden" class="food_id" value="{{ item.cart_food.id }}">
                            <button type="button" class="btn btn-dark remove_from_cart">Remove cart</button>
                        </form>
                    </div>
                    <div class="col-3 col-sm-2">{{ item.cart_food_qty }}</div>
                    <div class="col-3 col-sm-2">{% widthratio item.cart_food.food_price 1 item.cart_food_qty %}</div>
                </div><br><hr>
            {% endfor %}
            <div class="row mb-4">
                <div class="offset-10">
                    <form action="#">
                        {% csrf_token %}
                        <button type="button" class="btn btn-dark place_order">Place Order</button>
                    </form>                    
                </div>
            </div>
        {% else %}
            <p>no items in the cart</p>
        {% endif %}
    </div>
    
</div>
<script type="text/javascript">

    $(document).ready(function(){

        $('.remove_from_cart').on('click', function(){
            var food_id = $(this).closest('.product_data').find('.food_id').val()
            var token = $('input[name=csrfmiddlewaretoken]').val();
            console.log(food_id)

            $.ajax({
                        method: 'POST',
                        url: '../remove_from_cart',
                        data: {
                            'food_id': food_id,
                            csrfmiddlewaretoken: token 
                        },
                        success: function (response) {
                            console.log('response')
                            console.log(response.status)
                            alert(response.status)
                            location.reload()
                        }
            });
        });

        $('.place_order').on('click', function(){
            var token = $('input[name=csrfmiddlewaretoken]').val();
            $.ajax({
                        method: 'POST',
                        url: '../place_order',
                        data: {
                            csrfmiddlewaretoken: token 
                        },
                        success: function (response) {
                            console.log('response')
                            console.log(response.status)
                            alert(response.status)
                            location.reload()
                        }
            });
        });

    });

</script>


{% endblock %}